<ion-header>
  <ion-toolbar>
    <ion-title>后台管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>当前绘本</ion-card-subtitle> -->
      <ion-card-title>当前绘本</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let book of books">
          <ion-col>• {{book.title}}</ion-col>
          <ion-col>{{book.cover.url}}</ion-col>
          <ion-col>
            <span *ngFor="let page of book.pageList">{{page.picture.url}} </span>
          </ion-col>
          <ion-col>
            <ion-button (click)="deleteBook(book)" size="small" shape="round">删除</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <br /><br />
  <ion-card>
    <ion-card-header>
      <ion-card-title>添加绘本</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>绘本名:</ion-label>
      <ion-input [(ngModel)]="book.title" placeholder="name"></ion-input>
      <ion-label>级别:</ion-label>
      <ion-input [(ngModel)]="book.level" placeholder="5"></ion-input>
      <ion-label>封面:</ion-label>
      <ion-input type="file" (change)="onCover($event)"></ion-input>
      <ion-button (click)="addPage()">添加图片页</ion-button>
    </ion-item>
    <div *ngFor="let page of book.pageList">
      <ion-item>
        名称:<ion-input [(ngModel)]="page.name" placeholder="name"></ion-input>
        图片:
        <input type="file" id="{{page.name}}-pic" (change)="onFileChange($event)">
        声音:
        <input type="file" id="{{page.name}}-sound" (change)="onFileChange($event)">
      </ion-item>
    </div>
    <ion-button (click)="submit()">提交</ion-button>
  </ion-card>
</ion-content>